server:
  port: 8081

spring:
  application:
    name: servicios
  cloud:
    config:
      uri: http://localhost:8888

resilience4j:
  circuitbreaker:
    instances:
      userService:
        register-health-indicator: true
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s