server:
  port: 8082
  shutdown: graceful

spring:
  application:
    name: infraestructura
  lifecycle:
    timeout-per-shutdown-phase: 30s
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/infraestructura
    username: postgres
    password: postgres
    pool:
      initial-size: 5
      max-size: 20
      
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
      show-components: always